.navbar {
    background-color: #F5DF4E;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#boton-home {
    width: 70%;
}

#boton-like {
    width: 70%;
}

#boton-files {
    width: 70%;
}

#boton-bars {
    width: 70%;
}

.item1 {
    display: flex;
    justify-content: center;
}

.item2 {
    display: flex;
    justify-content: center;
}

.item3 {
    display: flex;
    justify-content: center;
}

.item4 {
    display: flex;
    justify-content: center;
}