<div class="row-4 mb-4">
    <img href="#" src="../../assets/images/files.png" class="img-fluid img-editar-datos">
    <a href="#" class="link-perfil text-dark">Editar datos personales</a>
</div>
<div class="row-4 mb-4">
    <img href="#" src="../../assets/images/files.png" class="img-fluid img-editar-datos">
    <a href="#" class="link-perfil text-dark">Editar datos bancarios</a>
</div>
<div class="row-4 mb-4">
    <img href="#" src="../../assets/images/files.png" class="img-fluid img-editar-datos">
    <a href="#" class="link-perfil text-dark">Enviar informe</a>
</div>