<div class="container-fluid container">
    <div class="row"><br><br><br></div>
    <div class="usuario-row p-container">
        <p class="title">Apuntes favoritos</p>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/files.png" class="images img-fluid img-file">
            </div>
            <div class="col-5">
                <a class="link-file text-dark">Nombre Apunte</a>
            </div>
            <div class="col-file col-4">
                <a class="link-group text-dark">Categoria</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/files.png" class="images img-fluid img-file">
            </div>
            <div class="col-5">
                <a class="link-file text-dark">Nombre Apunte</a>
            </div>
            <div class="col-file col-4">
                <a class="link-group text-dark">Categoria</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/files.png" class="images img-fluid img-file">
            </div>
            <div class="col-5">
                <a class="link-file text-dark">Nombre Apunte</a>
            </div>
            <div class="col-file col-4">
                <a class="link-group text-dark">Categoria</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/files.png" class="images img-fluid img-file">
            </div>
            <div class="col-5">
                <a class="link-file text-dark">Nombre Apunte</a>
            </div>
            <div class="col-file col-4">
                <a class="link-group text-dark">Categoria</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/files.png" class="images img-fluid img-file">
            </div>
            <div class="col-5">
                <a class="link-file text-dark">Nombre Apunte</a>
            </div>
            <div class="col-file col-4">
                <a class="link-group text-dark">Categoria</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/files.png" class="images img-fluid img-file">
            </div>
            <div class="col-5">
                <a class="link-file text-dark">Nombre Apunte</a>
            </div>
            <div class="col-file col-4">
                <a class="link-group text-dark">Categoria</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
