<div class="container-fluid container">
    <div class="row"><br><br><br></div>
    <div class="usuario-row p-container">
        <p class="title">Apuntes favoritos</p>
        <div class="chats row">
            <div class="col-8 row" routerLink="../usuario" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                <div class="col-5">
                    <img src="assets/images/apunte1.png" class="images img-fluid img-file">
                </div>
                <div class="col-user col-7">
                    <a class="link-file text-dark">Nombre Apunte</a>
                </div>
            </div>
            <div class="col-user col-4">
                <a class="link-group text-dark">Categoría</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-8 row" routerLink="../usuario" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                <div class="col-5">
                    <img src="assets/images/apunte2.png" class="images img-fluid img-file">
                </div>
                <div class="col-user col-7">
                    <a class="link-file text-dark">Nombre Apunte</a>
                </div>
            </div>
            <div class="col-user col-4">
                <a class="link-group text-dark">Categoría</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-8 row" routerLink="../usuario" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                <div class="col-5">
                    <img src="assets/images/apunte1.png" class="images img-fluid img-file">
                </div>
                <div class="col-user col-7">
                    <a class="link-file text-dark">Nombre Apunte</a>
                </div>
            </div>
            <div class="col-user col-4">
                <a class="link-group text-dark">Categoría</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-8 row" routerLink="../usuario" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                <div class="col-5">
                    <img src="assets/images/apunte1.png" class="images img-fluid img-file">
                </div>
                <div class="col-user col-7">
                    <a class="link-file text-dark">Nombre Apunte</a>
                </div>
            </div>
            <div class="col-user col-4">
                <a class="link-group text-dark">Categoría</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-8 row" routerLink="../usuario" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                <div class="col-5">
                    <img src="assets/images/apunte2.png" class="images img-fluid img-file">
                </div>
                <div class="col-user col-7">
                    <a class="link-file text-dark">Nombre Apunte</a>
                </div>
            </div>
            <div class="col-user col-4">
                <a class="link-group text-dark">Categoría</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-8 row" routerLink="../usuario" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                <div class="col-5">
                    <img src="assets/images/apunte1.png" class="images img-fluid img-file">
                </div>
                <div class="col-user col-7">
                    <a class="link-file text-dark">Nombre Apunte</a>
                </div>
            </div>
            <div class="col-user col-4">
                <a class="link-group text-dark">Categoría</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-8 row" routerLink="../usuario" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                <div class="col-5">
                    <img src="assets/images/apunte2.png" class="images img-fluid img-file">
                </div>
                <div class="col-user col-7">
                    <a class="link-file text-dark">Nombre Apunte</a>
                </div>
            </div>
            <div class="col-user col-4">
                <a class="link-group text-dark">Categoría</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
