<br>
<br>
<br>
<br>
<div class="p-container col-xl-12 col-lg-12 col-md-12 mb-4">
    <img src="assets/images/apunte2.png" class="img-fluid images card-img-top">
    <div class="inicial-apunte col-xl-3 col-lg-4 col-md-6 mb-4">
        <a href="#" class="link-apunte text-dark">Nombre del apunte</a>
        <img href="#" data-bs-toggle="modal" data-bs-target="#deleteFile" src="assets/images/garbage.png" class="images papelera-img">
    </div>
    <div class="descripcion-general-apunte">
        <p class="categoria-apunte">Categoria del apunte</p>
        <p class="precio-apunte">XX.xx€</p>
        <p class="descripcion-apunte">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
</div>
<br>
<br>
<br>
<br>
<!-- Modal Desarrollo-->
<div class="modal fade" id="deleteFile" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-div-top">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-div-container">
                    <img src="assets/images/garbage.png" class="images img-fluid img-modal">
                    <p class="title-modal">Documento eliminado</p>
                </div>
            </div>
        </div>
    </div>
</div>
