.papelera-img{
    width: 30px;
    height: 30px;
    float: right;
    margin-right:25px ;
}
.card-img-top{
    margin:auto;
    display: block;
    max-width: 350px;
    max-height: 400px;
}
.link-apunte{
    text-decoration:none;
    font-size: 21px;
}.precio-apunte{
    font-size: 20px;
}
.inicial-apunte{
    margin-left: 25px;
    margin-top: 10px;
}
.descripcion-general-apunte{
    padding-top: 10px;
    margin-left: 25px;
}
.modal-div-top{
    float: right;
}
.modal-div-container{
    margin: auto;
	display:block;
}
.img-modal{
    height: 50px;
    width: 50px;
    margin: auto;
	display:block;
}
.text-modal{
    margin-top: 8px;
    text-align: center;
}
.title-modal{
    font-size: 19px;
    margin-top: 12px;
    text-align: center;
    font-weight: bold;
}