<div class="container-fluid container">
    <div class="row"><br><br><br></div>
    <div class="usuario-row p-container container-fluid">
        <p class="title">Amigos</p>
        <div class="chats row-8 mb-4">
            <a routerLink="../usuario" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                <div class="col-3">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                </div>
                <div class="col-user col-5">
                    <a class="link-user text-dark">Usuario</a>
                </div>
            </a>
            <div class="col-user col-4">
                <a class="link-group text-dark">Grupo</a>
            </div>
        </div>
        <div class="chats row-8 mb-4">
            <a routerLink="../usuario" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                <div class="col-3">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                </div>
                <div class="col-user col-5">
                    <a class="link-user text-dark">Usuario</a>
                </div>
            </a>
            <div class="col-user col-4">
                <a class="link-group text-dark">Grupo</a>
            </div>
        </div>
        <div class="chats row-8 mb-4">
            <a routerLink="../usuario" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                <div class="col-3">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                </div>
                <div class="col-user col-5">
                    <a class="link-user text-dark">Usuario</a>
                </div>
            </a>
            <div class="col-user col-4">
                <a class="link-group text-dark">Grupo</a>
            </div>
        </div>
        <div class="chats row-8 mb-4">
            <a routerLink="../usuario" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                <div class="col-3">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                </div>
                <div class="col-user col-5">
                    <a class="link-user text-dark">Usuario</a>
                </div>
            </a>
            <div class="col-user col-4">
                <a class="link-group text-dark">Grupo</a>
            </div>
        </div>
        <div class="chats row-8 mb-4">
            <a routerLink="../usuario" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                <div class="col-3">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                </div>
                <div class="col-user col-5">
                    <a class="link-user text-dark">Usuario</a>
                </div>
            </a>
            <div class="col-user col-4">
                <a class="link-group text-dark">Grupo</a>
            </div>
        </div>
        <div class="chats row-8 mb-4">
            <a routerLink="../usuario" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                <div class="col-3">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                </div>
                <div class="col-user col-5">
                    <a class="link-user text-dark">Usuario</a>
                </div>
            </a>
            <div class="col-user col-4">
                <a class="link-group text-dark">Grupo</a>
            </div>
        </div>
        <div class="chats row-8 mb-4">
            <a routerLink="../usuario" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                <div class="col-3">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                </div>
                <div class="col-user col-5">
                    <a class="link-user text-dark">Usuario</a>
                </div>
            </a>
            <div class="col-user col-4">
                <a class="link-group text-dark">Grupo</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
