<div class="container-fluid container">
    <div class="row"><br><br><br></div>
    <div class="usuario-row p-container">
        <p class="title">Amigos</p>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/files.png" class="images img-fluid img-user">
            </div>
            <div class="col-user col-5">
                <a class="link-user text-dark">Usuario</a>
            </div>
            <div class="col-user col-4">
                <a class="link-group text-dark">Grupo</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/files.png" class="images img-fluid img-user">
            </div>
            <div class="col-user col-5">
                <a class="link-user text-dark">Usuario</a>
            </div>
            <div class="col-user col-4">
                <a class="link-group text-dark">Grupo</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/files.png" class="images img-fluid img-user">
            </div>
            <div class="col-user col-5">
                <a class="link-user text-dark">Usuario</a>
            </div>
            <div class="col-user col-4">
                <a class="link-group text-dark">Grupo</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/files.png" class="images img-fluid img-user">
            </div>
            <div class="col-user col-5">
                <a class="link-user text-dark">Usuario</a>
            </div>
            <div class="col-user col-4">
                <a class="link-group text-dark">Grupo</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/files.png" class="images img-fluid img-user">
            </div>
            <div class="col-user col-5">
                <a class="link-user text-dark">Usuario</a>
            </div>
            <div class="col-user col-4">
                <a class="link-group text-dark">Grupo</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/files.png" class="images img-fluid img-user">
            </div>
            <div class="col-user col-5">
                <a class="link-user text-dark">Usuario</a>
            </div>
            <div class="col-user col-4">
                <a class="link-group text-dark">Grupo</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
