.navbar {
    background-color: #F5DF4E;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

#boton-login {
    width: 25%;
}

#logo {
    width: 100%;
}

.grid-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.grid-item {
    display: flex;
    justify-content: space-between;
}

.item1 {
    display: flex;
    margin-left: 10px;
}

.item2 {
    display: flex;
    justify-content: flex-end;
}
