<nav class="navbar" aria-label="First navbar example">
    <a class="item1"><img id="logo" src="assets/images/logo.png" alt="Logo Minerva"></a>

    <a *ngIf="login==false" class="item2 nav-link" routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img id="boton-login" src="assets/images/login.png" alt="Icono Login"></a>
    <div *ngIf="login==true" class="btn-group">
        <a class="btn item2 nav-link" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            <img id="boton-login" src="assets/images/pulldown.png" alt="Icono Login">
        </a>
        <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
            <div class="container">
                <div class="row-4">
                    <div class="col-4">
                        <li>
                            <a class="dropdown-item" href="#">
                                <img id="boton-login" src="assets/images/userinfo.png" alt="Icono Informacion Usuario">
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li>
                            <a class="dropdown-item" href="#">
                                <img id="boton-login" src="assets/images/userinfo.png" alt="Icono Informacion Usuario">
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li>
                            <a class="dropdown-item" href="#">
                                <img id="boton-login" src="assets/images/userinfo.png" alt="Icono Informacion Usuario">
                            </a>
                        </li>
                    </div>
                </div>
                <div class="row-4">
                    <div class="col-4">
                        <li>
                            <a class="dropdown-item" href="#">
                                <img id="boton-login" src="assets/images/userinfo.png" alt="Icono Informacion Usuario">
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li>
                            <a class="dropdown-item" href="#">
                                <img id="boton-login" src="assets/images/userinfo.png" alt="Icono Informacion Usuario">
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li>
                            <a class="dropdown-item" href="#">
                                <img id="boton-login" src="assets/images/userinfo.png" alt="Icono Informacion Usuario">
                            </a>
                        </li>
                    </div>
                </div>
                <div class="row-4">
                    <div class="col-4">
                        <li>
                            <a class="dropdown-item" href="#">
                                <img id="boton-login" src="assets/images/userinfo.png" alt="Icono Informacion Usuario">
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li>
                            <a class="dropdown-item" href="#">
                                <img id="boton-login" src="assets/images/userinfo.png" alt="Icono Informacion Usuario">
                            </a>
                        </li>
                    </div>
                    <div class="col-4">
                        <li>
                            <a class="dropdown-item" href="#">
                                <img id="boton-login" src="assets/images/userinfo.png" alt="Icono Informacion Usuario">
                            </a>
                        </li>
                    </div>
                </div>
            </div>

        </ul>
    </div>
</nav>

<script type="text/javascript ">
    $(".toggle-btn ").click(function() {
        $(this).toggleClass("fa-times ");
        $(".nav-menus ").toggleClass("active ");
    });
</script>