<nav class="navbar" aria-label="First navbar example">
    <a class="item1 nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img id="logo" src="assets/images/logo.png" alt="Logo Minerva"></a>

    <a *ngIf="getlogin()=='false'" class="item2 nav-link" routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img id="boton-login" src="assets/images/login.png" alt="Icono Login"></a>

    <div *ngIf="getlogin()=='true'" class="dropdown me-1">
        <a type="button" class="item2 nav-link" id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
            <img id="boton-login" src="assets/images/pulldown.png" alt="Icono Login">
        </a>
        <ul class="dropdown-menu multi-column columns-2">
            <div class="row">
                <div class="col">
                    <ul class="multi-column-dropdown">
                        <li>
                            <a routerLink="perfil" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                <img class="boton-menu " src="assets/images/userinfo.png " alt="Icono Login ">
                            </a>
                        </li>
                        <li>
                            <a routerLink="archivosfav" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                <img class="boton-menu " src="assets/images/favfiles.png " alt="Icono Login "></a>
                        </li>
                        <li>
                            <a routerLink="cartera" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                <img class="boton-menu" src="assets/images/creditcontrol.png " alt="Icono Login ">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="multi-column-dropdown ">
                        <li>
                            <a routerLink="apuntes" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                <img class="boton-menu " src="assets/images/files.png " alt="Icono Login ">
                            </a>
                        </li>
                        <li>
                            <a routerLink="estadisticas" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                <img class="boton-menu " src="assets/images/bars.png " alt="Icono Login "></a>
                        </li>
                        <li>
                            <a routerLink="chat" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                <img class="boton-menu" src="assets/images/allchat.png " alt="Icono Login ">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="multi-column-dropdown ">
                        <li>
                            <a routerLink="amigos" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                <img class="boton-menu " src="assets/images/profiles.png " alt="Icono Login ">
                            </a>
                        </li>
                        <li>
                            <a routerLink="busqueda" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                                <img class="boton-menu " src="assets/images/advancesearch.png " alt="Icono Login "></a>
                        </li>
                        <li>
                            <a (click)="setloginfalse()" routerLink="" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true}" data-bs-toggle="modal" data-bs-target="#confirmLogout">
                                <img class=" boton-menu " src="assets/images/logout.png " alt="Icono Login ">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </ul>
    </div>
</nav>
<!-- Modal confirm logout-->
<div class="modal fade" id="confirmLogout" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-div-top">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-div-container">
                    <img src="assets/images/logout.png" class="images img-fluid img-modal">
                    <p class="title-modal">Sesion Cerrada</p>
                    <p class="text-modal">Esperamos que vuelvas pronto</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript ">
    $(".toggle-btn ").click(function() {
        $(this).toggleClass("fa-times ");
        $(".nav-menus ").toggleClass("active ");
    });
</script>
