.navbar {
    background-color: #F5DF4E;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
}

#boton-login {
    width: 25%;
}

.boton-menu {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
}

#logo {
    width: 100%;
}

.item1 {
    display: flex;
    margin-left: 10px;
}

.item2 {
    display: flex;
    justify-content: flex-end;
}

.nav-menus {
    float: right;
    min-height: 100px;
    display: flex;
    align-items: center;
}

.nav-menus li {
    list-style: none;
    position: relative;
    padding: 30px 0px;
}

.nav-menus a {
    color: #F5DF4E;
    position: relative;
    font-size: 17px;
    text-decoration: none;
    padding: 15px 12px;
    z-index: 1;
}

.nav-menus li:hover {
    color: #F5DF4E;
}

.nav-menus a:after {
    content: "";
    width: 100%;
    height: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    transition: 0.5s;
    z-index: -1;
}

.nav-menus li:hover>a:after {
    height: 100%;
}

.nav-menus i {
    margin-right: 8px;
    font-size: 16px;
}

.toggle-btn {
    float: right;
    height: 90px;
    line-height: 90px;
    color: #F5DF4E;
    font-size: 26px;
    display: none;
    cursor: pointer;
}

.nav-menus.active {
    display: block;
    background-color: #F5DF4E;
}

.sub-menus ul {
    position: absolute;
    top: 80px;
    padding: 5px 0px;
    min-width: 150px;
    border-radius: 4px;
    display: none;
}

.sub-menus:hover ul {
    display: block;
    z-index: 99;
}

.sub-menus ul li {
    padding: 5px 0px;
}

.sub-menus ul li a {
    padding: 8px 10px;
    display: block;
}

.sub-menus ul li:hover a {
    color: #F5DF4E;
}

.sub-menus ul::before {
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -9px;
}

.dropdown-menu {
    background-color: #F5DF4E;
    border: none;
    margin-left: 0px;
    min-width: 100vw;
}

@media (max-width:767px) {
    .toggle-btn {
        display: block;
    }
    .nav-menus {
        position: absolute;
        width: 100%;
        top: 100px;
        right: 0;
        display: none;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .nav-menus::before {
        content: "";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        top: -10px;
        right: 10px;
    }
    .sub-menus ul {
        position: static;
    }
    .sub-menus ul::before {
        display: none;
    }
    .nav-menus li {
        padding: 0px;
    }
    .nav-menus li a {
        display: block;
        margin: 15px 0px;
    }
}

ul {
    list-style-type: none;
    overflow: auto;
}

li {
    list-style-type: none;
    white-space: nowrap;
}

.dropdown {
    position: static !important;
}

.dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
    margin-top: 0px !important;
    width: 100% !important;
}

.iconito {
    width: 100px;
    height: 100px;
}

.modal-div-top {
    float: right;
}

.modal-div-container {
    margin: auto;
    display: block;
}

.img-modal {
    height: 50px;
    width: 50px;
    margin: auto;
    display: block;
}

.text-modal {
    margin-top: 8px;
    text-align: center;
}

.title-modal {
    font-size: 19px;
    margin-top: 12px;
    text-align: center;
    font-weight: bold;
}
