<div class="container-fluid">
    <div class="row"><br><br><br><br></div>
    <div class="usuario-row p-container">
        <div class="row-8 mb-4">
            <img src="assets/images/avatar.png" class="images img-fluid img-user">
            <a class="link-user text-dark">UsuarioNombre</a>
        </div>
        <div class="chat container-fluid">
            <div class="my-user">
                <p class="my-user-p">Tu</p>
                <div class="my-user-text">
                    <p>Hola que tal, estoy interesado en tus apuntes</p>
                </div>
            </div>
            <div class="friend-user">
                <p class="friend-user-p">UsuarioAmigo</p>
                <div class="friend-user-text">
                    <p>Hola buenas, que necesitas</p>
                </div>
            </div>
            <div class="my-user">
                <p class="my-user-p">Tu</p>
                <div class="my-user-text">
                    <p>Hola que tal, estoy interesado en tus apuntes</p>
                </div>
            </div>
            <div class="friend-user">
                <p class="friend-user-p">UsuarioAmigo</p>
                <div class="friend-user-text">
                    <p>Hola buenas, que necesitas</p>
                </div>
            </div>
            <div class="my-user">
                <p class="my-user-p">Tu</p>
                <div class="my-user-text">
                    <p>Hola que tal, estoy interesado en tus apuntes</p>
                </div>
            </div>
            <div class="friend-user">
                <p class="friend-user-p">UsuarioAmigo</p>
                <div class="friend-user-text">
                    <p>Hola buenas, que necesitas</p>
                </div>
            </div>
            <div class="my-user">
                <p class="my-user-p">Tu</p>
                <div class="my-user-text">
                    <p>Hola que tal, estoy interesado en tus apuntes</p>
                </div>
            </div>
            <div class="friend-user">
                <p class="friend-user-p">UsuarioAmigo</p>
                <div class="friend-user-text">
                    <p>Hola buenas, que necesitas</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row"><br><br><br><br><br><br></div>
</div>
