<style>
    .p-container{
        padding-right: 20px;
    }
    .img-user{
        height: 50px;
        width: 50px;
    }
    .link-user{
        text-decoration: none;
        margin-left: 10px;
        font-size: 18px;
    }
    .chat{
        border: 2px;
    }
    .my-user{
        float: left;
    }
    .friend-user{
        float: right;
    }
    .my-user-text{
        border: 2px;
        border-color: black;
        width: 220px;
        float: left;
    }
    .friend-user-text{
        border: 2px;
        border-color: black;
        background-color: cornflowerblue;
        border-radius: 5px;
        padding: 5px;
        width: 220px;
        float: right;
    }
    .my-user-p{
    }
    .friend-user-p{
    }
</style>
<br>
<br>
<br>
<br>
<div class="usuario-row p-container">
    <div class="row-8 mb-4">
        <img  src="../../assets/images/files.png" class="images img-fluid img-user">
        <a class="link-user text-dark">UsuarioNombre</a>
    </div>
    <div class="chat container-fluid">
        <div class="my-user">
            <p class="my-user-p">Tu</p>
            <div class="my-user-text">
                <p>Hola que tal, estoy interesado en tus apuntes</p>
            </div>
        </div>
        <div class="friend-user">
            <p class="friend-user-p">UsuarioAmigo</p>
            <div class="friend-user-text">
                <p>Hola buenas, que necesitas</p>
            </div>
        </div>
        <div class="my-user">
            <p class="my-user-p">Tu</p>
            <div class="my-user-text">
                <p>Hola que tal, estoy interesado en tus apuntes</p>
            </div>
        </div>
        <div class="friend-user">
            <p class="friend-user-p">UsuarioAmigo</p>
            <div class="friend-user-text">
                <p>Hola buenas, que necesitas</p>
            </div>
        </div>
        <div class="my-user">
            <p class="my-user-p">Tu</p>
            <div class="my-user-text">
                <p>Hola que tal, estoy interesado en tus apuntes</p>
            </div>
        </div>
        <div class="friend-user">
            <p class="friend-user-p">UsuarioAmigo</p>
            <div class="friend-user-text">
                <p>Hola buenas, que necesitas</p>
            </div>
        </div>
        <div class="my-user">
            <p class="my-user-p">Tu</p>
            <div class="my-user-text">
                <p>Hola que tal, estoy interesado en tus apuntes</p>
            </div>
        </div>
        <div class="friend-user">
            <p class="friend-user-p">UsuarioAmigo</p>
            <div class="friend-user-text">
                <p>Hola buenas, que necesitas</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>