<div class="container-fluid">
    <div class="row"><br><br><br></div>
    <div class="usuario-row p-container">
        <p class="title">Chat</p>
        <div class="chats container-fluid">
            <div class="row-8 mb-4">
                <a routerLink="../chatuser" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                    <a class="link-user text-dark">UsuarioNombre</a></a>
            </div>
            <div class="row-8 mb-4">
                <a routerLink="../chatuser" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                    <a class="link-user text-dark">UsuarioNombre</a></a>
            </div>
            <div class="row-8 mb-4">
                <a routerLink="../chatuser" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                    <a class="link-user text-dark">UsuarioNombre</a></a>
            </div>
            <div class="row-8 mb-4">
                <a routerLink="../chatuser" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                    <a class="link-user text-dark">UsuarioNombre</a></a>
            </div>
            <div class="row-8 mb-4">
                <a routerLink="../chatuser" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                    <a class="link-user text-dark">UsuarioNombre</a></a>
            </div>
            <div class="row-8 mb-4">
                <a routerLink="../chatuser" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                    <a class="link-user text-dark">UsuarioNombre</a></a>
            </div>
            <div class="row-8 mb-4">
                <a routerLink="../chatuser" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                    <a class="link-user text-dark">UsuarioNombre</a></a>
            </div>
            <div class="row-8 mb-4">
                <a routerLink="../chatuser" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                    <a class="link-user text-dark">UsuarioNombre</a></a>
            </div>
            <div class="row-8 mb-4">
                <a routerLink="../chatuser" routerLinkActive="active " [routerLinkActiveOptions]="{exact: true} ">
                    <img src="assets/images/files.png" class="images img-fluid img-user">
                    <a class="link-user text-dark">UsuarioNombre</a></a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
