<style>
    .p-container{
        padding-right: 20px;
    }
    .img-user{
        height: 50px;
        width: 50px;
    }
    .link-user{
        text-decoration: none;
        margin-left: 10px;
        font-size: 18px;
    }
    .chats{
        padding-left: 15px;
    }
    .title{
        padding-top: 10px;
        padding-left: 20px;
        font-size: 25px;
        color: #3C6E71;
    }
</style>
<br>
<br>
<br>
<div class="usuario-row p-container">
    <p class="title">Chat</p>
    <div class="chats container-fluid">
        <div class="row-8 mb-4">
            <img  src="../../assets/images/files.png" class="images img-fluid img-user">
            <a class="link-user text-dark">UsuarioNombre</a>
        </div>
        <div class="row-8 mb-4">
            <img  src="../../assets/images/files.png" class="images img-fluid img-user">
            <a class="link-user text-dark">UsuarioNombre</a>
        </div>
        <div class="row-8 mb-4">
            <img  src="../../assets/images/files.png" class="images img-fluid img-user">
            <a class="link-user text-dark">UsuarioNombre</a>
        </div>
        <div class="row-8 mb-4">
            <img  src="../../assets/images/files.png" class="images img-fluid img-user">
            <a class="link-user text-dark">UsuarioNombre</a>
        </div>
        <div class="row-8 mb-4">
            <img  src="../../assets/images/files.png" class="images img-fluid img-user">
            <a class="link-user text-dark">UsuarioNombre</a>
        </div>
        <div class="row-8 mb-4">
            <img  src="../../assets/images/files.png" class="images img-fluid img-user">
            <a class="link-user text-dark">UsuarioNombre</a>
        </div>
        <div class="row-8 mb-4">
            <img  src="../../assets/images/files.png" class="images img-fluid img-user">
            <a class="link-user text-dark">UsuarioNombre</a>
        </div>
        <div class="row-8 mb-4">
            <img  src="../../assets/images/files.png" class="images img-fluid img-user">
            <a class="link-user text-dark">UsuarioNombre</a>
        </div>
        <div class="row-8 mb-4">
            <img  src="../../assets/images/files.png" class="images img-fluid img-user">
            <a class="link-user text-dark">UsuarioNombre</a>
        </div>
    </div>
</div>
<br>
<br>
<br>