<form>
    <div class="container-fluid mx-auto">
        <div class="row rowRegister px-3 mb-4">
            <p class=" titleRegister text-center">LOGIN</p>
        </div>
        <div class="row px-3 rowRegister form-group"> <label class="mb-1">
              <h6 class="mb-0 text-sm">Email</h6>
          </label> <input class="mb-4" type="email" name="email" placeholder="Enter a valid email address" required> </div>
        <div class="row px-3 rowRegister form-group"> <label class="mb-1">
              <h6 class="mb-0 text-sm">Contraseña</h6>
          </label> <input type="password" name="password" placeholder="Enter password" required> </div>
        <div class="row mb-3 px-3 justify-content-around rowRegisterBottom">
            <div class="col-4 colreg">
                <a class="linkRegister" routerLink="../register" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Registrarse...</a>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-yellow">Login</button>
            </div>
        </div>
    </div>
</form>
