<app-splash-screen>
</app-splash-screen>
<app-navbar></app-navbar>
<router-outlet>
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4" style="background-color:#aaa">
                <h1>Columna 1</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
            <div class="col-lg-4" style="background-color:#bbb">
                <h1>Columna 2</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
            <div class="col-lg-4" style="background-color:#ccc">
                <h1>Columna 3</h1>
                <p>Esto es una prueba de bootstrap.</p>
            </div>
        </div>
    </div>
    <app-carousel></app-carousel>--> 
    <app-crear-apunte></app-crear-apunte>
</router-outlet>
<app-footer></app-footer>
