<div class="container-fluid">
    <div class="row"><br><br><br></div>
    <h1 class="title">Favoritos</h1>
    <div class="col-12 file-row">
        <img src="assets/images/profiles.png" class="images img-fluid img-icon" alt="icono perfiles">
        <p class="subtitle">Perfiles</p>
    </div>
    <div class="row">
        <div class="swiper-container border">
            <swiper [slidesPerView]="3" [spaceBetween]="30" [pagination]="{
          clickable: true
        }" class="mySwiper">
                <ng-template swiperSlide>
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/images/avatar.png" class="images img-fluid img-icon">
                            <p class="card-text">With content.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/images/avatar.png" class="images img-fluid img-icon">
                            <p class="card-text">With content.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/images/avatar.png" class="images img-fluid img-icon">
                            <p class="card-text">With content.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/images/avatar.png" class="images img-fluid img-icon">
                            <p class="card-text">With content.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/images/avatar.png" class="images img-fluid img-icon">
                            <p class="card-text">With content.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/images/avatar.png" class="images img-fluid img-icon">
                            <p class="card-text">With content.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/images/avatar.png" class="images img-fluid img-icon">
                            <p class="card-text">With content.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/images/avatar.png" class="images img-fluid img-icon">
                            <p class="card-text">With content.</p>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="card">
                        <div class="card-body">
                            <img src="assets/images/avatar.png" class="images img-fluid img-icon">
                            <p class="card-text">With content.</p>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>
        <!-- <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <img src="assets/images/avatar.png" class="images img-fluid img-icon">
                    <p class="card-text">With content.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <img src="assets/images/avatar.png" class="images img-fluid img-icon">
                    <p class="card-text">With content.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <img src="assets/images/avatar.png" class="images img-fluid img-icon">
                    <p class="card-text">With content.</p>
                </div>
            </div>
        </div>
    </div> -->
        <div class="col-12 file-row">
            <img src="assets/images/favfiles.png" class="images img-fluid img-icon" alt="icono apuntes favoritos">
            <p class="subtitle">Apuntes</p>
        </div>
        <div class="row">
            <div class="swiper-container border">
                <swiper [slidesPerView]="3" [spaceBetween]="30" [pagination]="{
          clickable: true
        }" class="mySwiper">
                    <ng-template swiperSlide>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>
