<form>
    <div class="container-fluid mx-auto">
        <div class="row rowRegister px-3 mb-4">
            <p class=" titleRegister text-center">BUSQUEDA</p>
        </div>
        <div class="row px-3 rowRegister form-group"> <label class="mb-1">
                <h6 class="mb-0 text-sm">Nombre del apunte</h6>
            </label> <input class="mb-4" type="text" name="nombre-apunte" placeholder="Escriba el nombre del apunte..." required> </div>
        <div class="row px-3 rowRegister form-group">
            <h6 class="mb-0 text-sm categoria-text">Categoría</h6>
            <select class="form-control">
                <option>Matematicas</option>
                <option>Ingles</option>
                <option>Biologia</option>
                <option>Fisica</option>
                <option>Historia</option>
            </select>
        </div>
        <div class="row mb-4 form-inline">
            <div class="col-6 rowRegister form-group"> <label class="mb-1">
                <h6 class="p-precio mb-0 text-sm">Precio desde...</h6>
            </label> <p class="precio-txt"><input class="input-precio" type="text" name="precio" placeholder="XX.xx" required> €</p>
            </div>
            <div class="col-precio col-6 rowRegister form-group"> <label class="mb-1">
                <h6 class="p-precio mb-0 text-sm">...hasta</h6>
            </label> <p class="precio-txt"><input class="input-precio" type="text" name="precio" placeholder="XX.xx" required> €</p>
            </div>
        </div>
        <div class="row mb-3 px-3 rowRegisterBottom">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-yellow">Buscar</button> 
            </div>
        </div>
    </div>
</form>
