<div class="swiper-container">
    <swiper [slidesPerView]="3" [spaceBetween]="30" [pagination]="{
      clickable: true
    }" class="mySwiper">
        <ng-template swiperSlide>
            <div>
                <p>PUTO SWIPER 1</p>
                <br>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div>
                <p>PUTO SWIPER 2</p>
                <br>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div>
                <p>PUTO SWIPER 3</p>
                <br>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div>
                <p>PUTO SWIPER 4</p>
                <br>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div>
                <p>PUTO SWIPER 5</p>
                <br>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div>
                <p>PUTO SWIPER 6</p>
                <br>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div>
                <p>PUTO SWIPER 7</p>
                <br>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div>
                <p>PUTO SWIPER 8</p>
                <br>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div>
                <p>PUTO SWIPER 9</p>
                <br>
            </div>
        </ng-template>
    </swiper>
</div>