<div class="container-fluid container">
    <div class="row"><br><br><br></div>
    <div class="usuario-row p-container">
        <p class="title">Compras</p>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/document.png" class="images img-fluid img-file" alt="icono de apunte">
            </div>
            <div class="col-file col-6">
                <a class="link-file text-dark">Nombre Apunte</a>
            </div>
            <div class="col-file col-3">
                <a class="link-group text-dark">XX.xx€</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/document.png" class="images img-fluid img-file" alt="icono de apunte">
            </div>
            <div class="col-file col-6">
                <a class="link-file text-dark">Nombre Apunte</a>
            </div>
            <div class="col-file col-3">
                <a class="link-group text-dark">XX.xx€</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/document.png" class="images img-fluid img-file" alt="icono de apunte">
            </div>
            <div class="col-file col-6">
                <a class="link-file text-dark">Nombre Apunte</a>
            </div>
            <div class="col-file col-3">
                <a class="link-group text-dark">XX.xx€</a>
            </div>
        </div>
    </div>
    <div class="usuario-row p-container">
        <p class="title">Ventas</p>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/document.png" class="images img-fluid img-file" alt="icono de apunte">
            </div>
            <div class="col-file col-6">
                <a class="link-file text-dark">Nombre Apunte</a>
            </div>
            <div class="col-file col-3">
                <a class="link-group text-dark">XX.xx€</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/document.png" class="images img-fluid img-file" alt="icono de apunte">
            </div>
            <div class="col-file col-6">
                <a class="link-file text-dark">Nombre Apunte</a>
            </div>
            <div class="col-file col-3">
                <a class="link-group text-dark">XX.xx€</a>
            </div>
        </div>
        <div class="chats row">
            <div class="col-3">
                <img src="assets/images/document.png" class="images img-fluid img-file" alt="icono de apunte">
            </div>
            <div class="col-file col-6">
                <a class="link-file text-dark">Nombre Apunte</a>
            </div>
            <div class="col-file col-3">
                <a class="link-group text-dark">XX.xx€</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>
