.img-user {
    height: 70px;
    width: 70px;
}

.user-div {
    float: left;
}

.img-div {
    float: right;
}

.imgs {
    height: 30px;
    width: 30px;
}

.img-div-1 {
    padding: 5px;
    display: inline-block;
}

.img-div-2 {
    padding: 5px;
}

.link-user {
    margin-left: 5px;
    font-size: 18px;
    text-decoration: none;
}

.img-icon {
    float: left;
    height: 40px;
    width: 40px;
}

.subtitle {
    font-size: 20px;
    color: #3C6E71;
}

.usuario-row {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #3C6E71;
}

.apunteabajo {
    margin-bottom: 35px;
}

.modal-div-top {
    float: right;
}

.modal-div-container {
    margin: auto;
    display: block;
}

.img-modal {
    height: 50px;
    width: 50px;
    margin: auto;
    display: block;
}

.text-modal {
    margin-top: 8px;
    text-align: center;
}

.title-modal {
    font-size: 19px;
    margin-top: 12px;
    text-align: center;
    font-weight: bold;
}
