<div class="container-fluid">
    <div class="row"><br><br><br><br></div>
    <div class="usuario-row">
        <div class="user-div">
            <img src="assets/images/files.png" class="images img-fluid img-user">
            <a class="link-user text-dark">UsuarioNombre</a>
        </div>
        <div class="img-div">
            <div class="img-div-1">
                <img src="assets/images/files.png" class="images img-fluid imgs">
            </div>
            <div class="img-div-2">
                <img src="assets/images/files.png" class="images img-fluid imgs">
            </div>
        </div>
    </div>
    <div class="col-12 file-row">
        <img src="assets/images/files.png" class="images img-fluid img-icon">
        <p class="subtitle">Apuntes subidos</p>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
