<div class="container">
    <div class="row"><br><br><br><br></div>
    <div class="usuario-row">
        <div class="user-div">
            <img src="assets/images/avatar.png" class="images img-fluid img-user" alt="imagen de avatar">
            <a class="link-user text-dark">UsuarioNombre</a>
        </div>
        <div class="img-div">
            <div class="img-div-1">
                <a routerLink="../chatuser" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <img src="assets/images/chat.png" class="images img-fluid imgs" alt="icono de chat">
                </a>
            </div>
            <div class="img-div-2">
                <img href="#" data-bs-toggle="modal" data-bs-target="#like" src="assets/images/likeadd.png" class="images img-fluid imgs" alt="icono de añadir a favorito">
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row-12 file-row">
        <div class="col-4">
            <img src="assets/images/filesupload.png" class="images img-fluid img-icon" alt="imagen de apuntes subidos">
        </div>
        <div class="col-8">
            <p class="subtitle">Apuntes subidos</p>
        </div>
    </div>
    <div class="col-12 file-row">
        <div class="row">
            <div class="swiper-container border">
                <swiper [slidesPerView]="3" [spaceBetween]="30" [pagination]="{
          clickable: true
        }" class="mySwiper">
                    <ng-template swiperSlide>
                        <a routerLink="../otroapunte" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <div class="card apunte">
                                <div class="card-body">
                                    <img src="assets/images/apunte1.png" class="images img-fluid img-apunte" alt="mini imagen de apunte">
                                    <p class="card-text">Apunte</p>
                                </div>
                            </div>
                        </a>
                        <a routerLink="../otroapunte" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <div class="card apunteabajo">
                                <div class="card-body">
                                    <img src="assets/images/apunte1.png" class="images img-fluid img-apunte" alt="mini imagen de apunte">
                                    <p class="card-text">Apunte</p>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template swiperSlide>
                        <a routerLink="../otroapunte" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <div class="card apunte">
                                <div class="card-body">
                                    <img src="assets/images/apunte1.png" class="images img-fluid img-apunte" alt="mini imagen de apunte">
                                    <p class="card-text">Apunte</p>
                                </div>
                            </div>
                        </a>
                        <a routerLink="../otroapunte" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <div class="card apunteabajo">
                                <div class="card-body">
                                    <img src="assets/images/apunte1.png" class="images img-fluid img-apunte" alt="mini imagen de apunte">
                                    <p class="card-text">Apunte</p>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template swiperSlide>
                        <a routerLink="../otroapunte" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <div class="card apunte">
                                <div class="card-body">
                                    <img src="assets/images/apunte1.png" class="images img-fluid img-apunte" alt="mini imagen de apunte">
                                    <p class="card-text">Apunte</p>
                                </div>
                            </div>
                        </a>
                        <a routerLink="../otroapunte" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <div class="card apunteabajo">
                                <div class="card-body">
                                    <img src="assets/images/apunte1.png" class="images img-fluid img-apunte" alt="mini imagen de apunte">
                                    <p class="card-text">Apunte</p>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template swiperSlide>
                        <a routerLink="../otroapunte" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <div class="card apunte">
                                <div class="card-body">
                                    <img src="assets/images/apunte1.png" class="images img-fluid img-apunte" alt="mini imagen de apunte">
                                    <p class="card-text">Apunte</p>
                                </div>
                            </div>
                        </a>
                        <a routerLink="../otroapunte" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <div class="card apunteabajo">
                                <div class="card-body">
                                    <img src="assets/images/apunte1.png" class="images img-fluid img-apunte" alt="mini imagen de apunte">
                                    <p class="card-text">Apunte</p>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template swiperSlide>
                        <a routerLink="../otroapunte" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <div class="card apunte">
                                <div class="card-body">
                                    <img src="assets/images/apunte1.png" class="images img-fluid img-apunte" alt="mini imagen de apunte">
                                    <p class="card-text">Apunte</p>
                                </div>
                            </div>
                        </a>
                        <a routerLink="../otroapunte" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <div class="card apunteabajo">
                                <div class="card-body">
                                    <img src="assets/images/apunte1.png" class="images img-fluid img-apunte" alt="mini imagen de apunte">
                                    <p class="card-text">Apunte</p>
                                </div>
                            </div>
                        </a>
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>
</div>
<!-- Modal like-->
<div class="modal fade" id="like" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-div-top">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-div-container">
                    <img src="assets/images/like.png" class="images img-fluid img-modal" alt="imagen de favorito">
                    <p class="title-modal">Añadido a favoritos</p>
                </div>
            </div>
        </div>
    </div>
</div>
