<div class="container">
    <div class="row"><br><br><br><br></div>
    <div class="usuario-row">
        <div class="user-div">
            <img src="assets/images/avatar.png" class="images img-fluid img-user">
            <a class="link-user text-dark">UsuarioNombre</a>
        </div>
        <div class="img-div">
            <div class="img-div-1">
                <img src="assets/images/chat.png" class="images img-fluid imgs">
            </div>
            <div class="img-div-2">
                <img src="assets/images/likeadd.png" class="images img-fluid imgs">
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row-12 file-row">
        <div class="col-4">
            <img src="assets/images/filesupload.png" class="images img-fluid img-icon">
        </div>
        <div class="col-8">
            <p class="subtitle">Apuntes subidos</p>
        </div>
    </div>
    <div class="col-12 file-row">
        <div class="row">
            <div class="swiper-container border">
                <swiper [slidesPerView]="3" [spaceBetween]="30" [pagination]="{
          clickable: true
        }" class="mySwiper">
                    <ng-template swiperSlide>
                        <div class="card apunte">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card apunte">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card apunte">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card apunte">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card apunte">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card apunte">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card apunte">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card apunte">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card apunte">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div class="card apunte">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                        <div class="card apunte">
                            <div class="card-body">
                                <img src="assets/images/apunte1.png" class="images img-fluid img-apunte">
                                <p class="card-text">Apunte</p>
                            </div>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>
    </div>
</div>
