.p-container {
    padding-right: 20px;
}

.img-editar-perfil {
    height: 40px;
    width: 40px;
}

.img-perfil {
    height: 70px;
    width: 70px;
}

.link-perfil {
    text-decoration: none;
    margin-left: 10px;
}

.user-perfil {
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
}

.usuario-row {
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: 30px;
}

.perfil-container {
    margin-left: 30px;
}

.link-borrar {
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -35px;
    margin-top: 70px;
    color: red;
    font-size: 17px;
}
.modal-div-top{
    float: right;
}
.modal-div-container{
    display: inline-block;
}
.img-modal{
    height: 50px;
    width: 50px;
    margin: auto;
	display:block;
}
.text-modal{
    margin-top: 8px;
    text-align: center;
}
.title-modal{
    font-size: 19px;
    margin-top: 12px;
    text-align: center;
    font-weight: bold;
}