<style>
.p-container{
    padding-right: 20px;
}
.img-editar-perfil{
    height: 40px;
    width: 40px;
}
.img-perfil{
    height: 70px;
    width: 70px;
}
.link-perfil{
    text-decoration: none;
    margin-left: 10px;
}
.user-perfil{
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
}
.usuario-row{
    margin-top: 50px;
    margin-bottom: 75px;
    margin-left: 30px;
}
.perfil-container{
    margin-left: 30px;
}
.link-borrar{
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -35px;
    margin-top: 70px;
    color: red;
    font-size: 17px;
}
</style>
<br>
<br>
<div class="usuario-row p-container">
    <div class="row-8 mb-4">
        <img  src="../../assets/images/files.png" class="images img-fluid img-perfil">
        <a class="user-perfil text-dark">UsuarioNombre</a>
    </div>
</div>
<div class="perfil-container">
    <div class="row-4 mb-4">
        <img href="#" src="../../assets/images/files.png" class="images img-fluid img-editar-perfil">
        <a href="#" class="link-perfil text-dark">Editar datos personales</a>
    </div>
    <div class="row-4 mb-4">
        <img href="#" src="../../assets/images/files.png" class="images img-fluid img-editar-perfil">
        <a href="#" class="link-perfil text-dark">Editar datos bancarios</a>
    </div>
    <div class="row-4 mb-4">
        <img href="#" src="../../assets/images/files.png" class="images img-fluid img-editar-perfil">
        <a href="#" class="link-perfil text-dark">Enviar informe</a>
    </div>
    <a href="#" class="link-borrar">Eliminar cuenta</a>
</div>