/* You can add global styles to this file, and also import other style files */
p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.btn{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
a{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.text-sm{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
input{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}