.swiper-container {
    width: 100vw;
    margin-left: 0px;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.lupa {
    width: 7%;
}

.input-group {
    margin: 0 auto;
    width: 80%;
}

.fas {
    width: 80%;
}

.apunte {
    width: 100px;
}

h2 {
    font-size: 18px;
    color: #3C6E71;
}

a {
    text-decoration: none;
    color: #3C6E71;
}

#search-addon {
    background-color: #F5DF4E;
}
