<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4" style="background-color:#aaa">
            <h1>Columna 1</h1>
            <p>Esto es una prueba de bootstrap.</p>
        </div>
        <div class="col-lg-4" style="background-color:#bbb">
            <div class="swiper-container">
                <swiper [slidesPerView]="3" [spaceBetween]="30" [pagination]="{
              clickable: true
            }" class="mySwiper">
                    <ng-template swiperSlide>
                        <div>
                            <p>PUTO SWIPER 1</p>
                            <br>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div>
                            <p>PUTO SWIPER 2</p>
                            <br>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div>
                            <p>PUTO SWIPER 3</p>
                            <br>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div>
                            <p>PUTO SWIPER 4</p>
                            <br>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div>
                            <p>PUTO SWIPER 5</p>
                            <br>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div>
                            <p>PUTO SWIPER 6</p>
                            <br>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div>
                            <p>PUTO SWIPER 7</p>
                            <br>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div>
                            <p>PUTO SWIPER 8</p>
                            <br>
                        </div>
                    </ng-template>
                    <ng-template swiperSlide>
                        <div>
                            <p>PUTO SWIPER 9</p>
                            <br>
                        </div>
                    </ng-template>
                </swiper>
            </div>
        </div>
        <div class="col-lg-4" style="background-color:#ccc">
            <h1>Columna 3</h1>
            <p>Esto es una prueba de bootstrap.</p>
        </div>
    </div>
</div>
<app-swiper></app-swiper>