<div class="col-xl-12 col-lg-12 col-md-12 mb-4">
    <img href="#" src="../../assets/images/apuntes-1.jpg" alt="foto apunte" class="img-fluid card-img-top">
    <div class="inicial-apunte col-xl-3 col-lg-4 col-md-6 mb-4">
        <a href="#" class="link-apunte text-dark">Nombre del apunte</a>
        <img href="#" src="../../assets/images/files.png" class="papelera-img">           
    </div>
    <div class="descripcion-general-apunte">
        <p class="categoria-apunte">Categoria del apunte</p>
        <p class="precio-apunte">XX.xx€</p>
        <p class="descripcion-apunte">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
</div>