@import "~swiper/swiper";
@import "~swiper/components/scrollbar/scrollbar";
.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}

.rowRegisterBottom {
    margin-top: 20px;
    margin-left: -55px;
}

.titleRegister {
    font-size: 25px;
    color: #3C6E71;
}

input {
    padding: 10px 12px 10px 12px;
    border: 1px solid #3C6E71;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: black;
    font-size: 14px;
    letter-spacing: 1px
}

input:hover,
input:focus {
    border: 1px solid #3C6E71;
}

a {
    color: inherit;
    cursor: pointer
}

.btn-yellow {
    background-color: #F5DF4E;
    padding: 10px 25px 10px 25px;
    color: #3C6E71;
    border-radius: 6px;
    font-weight: bold;
}

.linkRegister {
    color: #3C6E71;
}

.btn-yellow:hover {
    background-color: #3C6E71;
    color: #F5DF4E;
    cursor: pointer
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 18px;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
}
